<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/commons/css/bootstrap.min.css">
    <style type="text/css">
        span{
            vertical-align: middle;
        }
        a:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="showExpensesDiv" class="container" style="width: 80%">
    <h2 class="text-center mb-3">添加款项</h2>
    <hr />
    <form id="frm">
        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">月&nbsp;&nbsp;&nbsp;份</label>
                </div>
                <select name="month" class="form-control">
                    <option value="201902">201902</option>
                    <option value="201903">201903</option>
                    <option value="201904">201904</option>
                    <option value="201905">201905</option>
                    <option value="201906">201906</option>
                    <option value="201907">201907</option>
                    <option value="201908">201908</option>
                    <option value="201909">201909</option>
                    <option value="201910">201910</option>
                    <option value="201911">201911</option>
                    <option value="201912">201912</option>
                    <option value="202001">202001</option>
                    <option value="202002">202002</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">金&nbsp;&nbsp;&nbsp;额</label>
                </div>
                <input v-model="amount" name="amount" type="text" class="form-control" placeholder="请输入金额">
            </div>
            <div class="col-3">
                <span class="text-danger">{{ amountTip }}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">类&nbsp;&nbsp;&nbsp;型</label>
                </div>
                <select name="type" class="form-control">
                    <option value="支付宝">支付宝</option>
                    <option value="微信">微信</option>
                    <option value="京东">京东</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">用&nbsp;&nbsp;&nbsp;户</label>
                </div>
                <input v-model="username" name="username" type="text" class="form-control" placeholder="清输入用户名" />
            </div>
        </div>
        <div class="row">
            <div class="input-group col-6 offset-3">
                <input type="button" class="btn btn-primary col-5" v-on:click="addExpenses" value="确认添加" />
                <input type="button" class="btn btn-secondary col-5 offset-2 " v-on:click="goBack" value="返回"/>
            </div>
        </div>
    </form>
</div>
</body>
<script src="/commons/js/jquery-3.2.1.min.js"></script>
<script src="/commons/js/bootstrap.min.js"></script>
<script src="/commons/js/vue.min.js"></script>
<script>
    new Vue({
        el: '#showExpensesDiv',
        data:{
            amountTip:'',
            amount:0,
            username:'',
            dataReady:true
        },
        methods:{
            addExpenses:function () {
                var _self = this;
                _self.amountTip = '';
                _self.dataReady = true;
                if (!_self.amount || isNaN(_self.amount))
                {
                    _self.amountTip = '请输入正确的金额';
                    _self.dataReady = false;
                }


                if(this.dataReady === true)
                {
                    $.ajax({
                        url: "/expenses",
                        type:"post",
                        data: $('#frm').serialize(),
                        async: false,
                        success:function (res)
                        {
                            alert("添加成功");
                            window.location.href="home.html";
                        }
                    });
                }
            },
            goBack:function () {
                window.history.go(-1);
            }
        }
    });
</script>
</html>