<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/commons/css/bootstrap.min.css">
    <style type="text/css">
        span{
            vertical-align: middle;
        }
        a:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav" style="margin: 0 auto;">
        <li class="nav-item">
            <a class="nav-link" href="overview.html">总览</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="home.html">明细</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="add.html">添加款项</a>
        </li>
    </ul>
</nav>

<div id="showExpensesDiv" class="container" style="width: 80%">
    <h2 class="text-center mb-3">金额列表</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <span>选择月份：</span>
            <select v-model="month">
                <option value="">全部</option>
                <option v-for="monthName in monthList" :value="monthName">{{ monthName }}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <span>选择类型：</span>
            <select v-model="type">
                <option value="">全部</option>
                <option v-for="payMethod in payMethodList" v-bind:value="payMethod">{{ payMethod }}</option>
            </select>
        </div>

        <div class="col-lg-3">
            <input v-on:click="change()" type="button" class="btn btn-primary btn-sm" value="查询"/>
        </div>

    </div>
    <br /> <br />
    <table class="table table-hover table-sm text-center">
        <thead>
        <tr>
            <th>月份</th>
            <th>金额</th>
            <th>类型</th>
            <th>用户</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="expenses in expensesList" >
            <td>{{ expenses.month }}</td>
            <td>¥ {{ expenses.amount.toFixed(2) }}</td>
            <td>{{ expenses.type }}</td>
            <td>{{ expenses.username }}</td>
            <td>
                <a style="color: #007BFF;" v-on:click="">修改</a>
                <a style="color: #007BFF;" v-on:click="deleteExpenses(expenses.id)" class="offset-1">删除</a>
            </td>
        </tr>

        <tr>
            <td>合计：</td>
            <td>¥ {{ totalAmount.toFixed(2) }}</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="/commons/js/jquery-3.2.1.min.js"></script>
<script src="/commons/js/bootstrap.min.js"></script>
<script src="/commons/js/vue.min.js"></script>
<script>
    new Vue({
        el:'#showExpensesDiv',
        data:{
            expensesList:"",
            month:"",
            type:"",
            monthList:"",
            payMethodList:"",
            totalAmount:0
        },
        methods:{

            //查询
            change:function ()
            {
                this.showExpenses(this);
            },
            //删除
            deleteExpenses:function (id)
            {
                if (confirm("确认要删除吗？"))
                {
                    var _self = this;

                    $.ajax({
                        url: "/expenses",
                        type:"delete",
                        data:{
                            id:id
                        },
                        async: false,
                        success: function (res) {
                            _self.showExpenses(_self);
                        },
                        error: function () {
                            alert("未知错误！")
                        }
                    });
                }
            }
        },
        beforeCreate:function ()
        {
            var _self = this;
            $.get
            (
                "/expenses",
                function (res)
                {
                    _self.totalAmount = 0;

                    _self.expensesList = res;

                    for (var i=0; i < res.length; i++)
                    {
                        _self.totalAmount += res[i].amount;
                    }
                }
            );

            $.get
            (
                "/monthList",
                function (res)
                {
                    _self.monthList = res;
                }
            );

            $.get
            (
                "/payMethodList",
                function (res)
                {
                    _self.payMethodList = res;
                }
            );
        }
    });

    Vue.prototype.showExpenses = function (_self)
    {
        $.get
        (
            "/expenses",
            {month:_self.month,type:_self.type},
            function (res)
            {
                _self.totalAmount = 0;

                _self.expensesList = res;

                for (var i=0; i < res.length; i++)
                {
                    _self.totalAmount += res[i].amount;
                }
            }
        );
    }
</script>
</html>